/* colors */
:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: #fff;
  --black: #111;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
img {
  display: block;
}

h1,
h2,
h3,
h6,
p {
  margin: 0;
}

.ip-tracker-top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ip-tracker-search {
  background-image: url("images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 25px 10px 0;
  height: 30vh;
  width: 100%;
}

.tracker-top-title {
  font-size: 30px;
  text-align: center;
  color: var(--white);
  font-family: "Rubik";
  font-weight: 500;
  margin-bottom: 20px;
}

.tracker-top-form {
  text-align: center;
  position: relative;
  width: 35%;
  display: flex;
  margin: 0 auto;
}

.tracker-top-input {
  padding: 15px;
  width: 100%;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  font-family: "Rubik";
  font-weight: 400;
  outline: none;
  border: none;
}

.tracker-top-button {
  padding: 15px;
  border-radius: 0 15px 15px 0;
  background-color: var(--black);
  position: absolute;
  right: 0;
  height: 51.33px;
  cursor: pointer;
  outline: none;
  border: none;
  top: 0;
  bottom: 0;
}

.tracker-top-button:hover {
  background-color: var(--dark-gray);
}

.icon-button {
  width: 15px;
  height: 15px;
}

.tracker-top-results {
  width: 80%;
  background-color: var(--white);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 65%;
}

.tracker-result {
  width: 25%;
  border-right: 1px solid var(--dark-gray);
  padding: 30px;
}

.tracker-result:last-child {
  border: none;
}

.result-title {
  font-size: 18px;
  color: var(--dark-gray);
  font-family: "Rubik";
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
}

.result-desc {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  font-family: "Rubik";
  line-height: 30px;
}

.ip-tracker-bottom {
  background-color: var(--black);
  height: 50vh;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
