/* colors */
:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: #fff;
  --black: #111;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
img {
  display: block;
}

h1,
h2,
h3,
h6,
p {
  margin: 0;
}

.container-app {
  margin-bottom: 30px;
}

.ip-tracker-top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ip-tracker-search {
  background-image: url("images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 25px 10px 0;
  width: 100%;
  height: calc(100vw * 320 / 1440);
}

.tracker-top-title {
  font-size: 30px;
  text-align: center;
  color: var(--white);
  font-family: "Rubik";
  font-weight: 500;
  margin-bottom: 20px;
}

.tracker-top-form {
  text-align: center;
  position: relative;
  width: 35%;
  display: flex;
  margin: 0 auto;
}

.tracker-top-input {
  padding: 15px;
  width: 100%;
  border-radius: 15px 0 0 15px;
  font-size: 18px;
  cursor: pointer;
  font-family: "Rubik";
  font-weight: 400;
  outline: none;
  border: none;
}

.tracker-top-button {
  padding: 15px;
  border-radius: 0 15px 15px 0;
  background-color: var(--black);
  height: 51.33px;
  cursor: pointer;
  outline: none;
  border: none;
}

.tracker-top-button:hover {
  background-color: var(--dark-gray);
}

.icon-button {
  width: 15px;
  height: 15px;
}

.tracker-top-results {
  width: 75%;
  background-color: var(--white);
  border-radius: 10px;
  padding: 40px 30px;
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 65%;
  z-index: 999;
}

.tracker-result {
  width: 25%;
  border-right: 1px solid var(--dark-gray);
  padding: 0 30px;
}

.tracker-result:first-child {
  padding: 0;
}

.tracker-result:last-child {
  border: none;
}

.result-title {
  font-size: 18px;
  color: var(--dark-gray);
  font-family: "Rubik";
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
}

.result-desc {
  color: var(--very-dark-gray);
  font-size: 22px;
  font-weight: 700;
  font-family: "Rubik";
  line-height: 30px;
}

.ip-tracker-bottom {
  width: 100%;
  height: 100vh;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.attribution {
  text-align: center;
  font-size: 24px;
  font-family: "Rubik";
  font-weight: 500;
  color: var(--very-dark-gray);
}

@media screen and (max-width: 992px) {
  .tracker-top-results {
    width: 80%;
    padding: 20px;
    top: 80%;
  }

  .tracker-top-input {
    font-size: 15px;
  }

  .result-title {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .result-desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .tracker-top-title {
    font-size: 20px;
  }

  .ip-tracker-search {
    height: calc(100vw * 400 / 1440);
    padding-inline: 0;
  }

  .tracker-top-form {
    width: 90%;
  }

  .tracker-top-results {
    width: 90%;
  }

  .tracker-top-results {
    flex-direction: column;
    text-align: center;
  }

  .tracker-result {
    width: 100%;
    border-right: none;
    padding: 0;
    margin-bottom: 10px;
  }

  .tracker-result:last-child {
    margin-bottom: 0;
  }

  .result-title {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 576px) {
  .ip-tracker-search {
    height: calc(100vw * 550 / 1440);
  }
}

@media screen and (max-width: 420px) {
  .ip-tracker-search {
    height: calc(100vw * 700 / 1440);
  }
}
